<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>Cookit | Download</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/static/bootstrap/css/custom.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/plugins/rollbar/css/jquery.rollbar.css">
    <style>

	    body,html {
        width: 100%;
        height: 100%;
      }

      td {
        width: 50%;
      }

      /* Essential FileDrop zone element configuration: */
      .fd-zone {
        position: relative;
        overflow: hidden;
      }

      /* Hides <input type="file"> while simulating "Browse" button: */
      .fd-file {
        opacity: 0;
        font-size: 118px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        padding: 0;
        margin: 0;
        cursor: pointer;
        filter: alpha(opacity=0);
        font-family: sans-serif;
      }
    </style>

  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url 'home' %}" class="navbar-brand">{{ project_name }} </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">NLU ONLINE PROJ</a></li>
        </ul>
      </div>
    </div>
    <div id="main-content" class="bs-docs-section clearfix">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="bs-component">
              <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="{% url 'download' %}">Download</a></li>
                <li><a href="{% url 'wordSegment' %}">Word Segment</a></li>
                <li><a href="{% url 'modelTest' %}">Model Test</a></li>
              </ul>
            </div>
            <hr>
            <div class="bs-component" style="padding-top: 60px">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">How To</h3>
                </div>
                <div class="panel-body" style="padding:15px 10px 0 0">
                  <ul>
                    <li>Single click the domain contents to select one domain.</li></br>
                    <li>Double click the domain contents to select all topics in this domain.</li></br>
                    <li>Double click the topic contents to select the topic.</li></br>
                    <li>Press the download button to download the corpus data or press next button to next step.</li></br>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#cop" data-toggle="tab" aria-expanded="true">Corpus</a></li>
              <li class=""><a href="#hrl" data-toggle="tab" aria-expanded="false"> HRL </a></li>
              <li class=""><a href="#pat" data-toggle="tab" aria-expanded="false">Pattern</a></li>
            </ul>
            <div class="well bs-component">
              <div class="tab-content">
                <div class="tab-pane fade active in" id="cop">
                  <form class="form-horizontal">
                    <fieldset>
                      <div class="form-group">
                        <label for="select" class="col-lg-2 control-label">Corpus Domain</label>
                        <div class="col-lg-10">
                          <select id="cop-select" multiple="" class="domain form-control" style="height: 200px">
                            {% for domain in c_domains %}
                              <option>{{ domain }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="select" class="col-lg-2 control-label">Topic</label>
                        <div class="topic col-lg-10">
                          <select multiple=""  class="form-control" style="height: 200px">
                          </select>
                        </div>
                        {% for domain, tops in c_topics.items %}
                          <div id="{{ domain }}" class="topic col-lg-10" hidden>
                            <select id="form-{{ domain }}" multiple=""  class="form-control" style="height: 200px">
                              {% for topic in tops %}
                                <option>{{ topic }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        {% endfor %}
                      </div>
                      <div id="form-last" class="form-group">
                        <label for="table" class="col-lg-2 control-label">Selected Topics</label>
                        <div class="col-lg-10" style="padding-bottom: 40px">
                          <fieldset id="cop-file-zone">
                            <textarea class="form-control" rows="5" id="submit-text"></textarea>
                          </fieldset>
                          </br>
                          <button id="btn-cop" type="button" class="btn btn-info download">Download</button>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
                <div class="tab-pane fade" id="hrl">
                  <form class="form-horizontal">
                    <fieldset>
                      <div class="form-group">
                        <label for="select" class="col-lg-2 control-label">HRL</br> Domain</label>
                        <div class="col-lg-10">
                          <select id="domain" multiple="" class="domain form-control" style="height: 200px">
                            {% for domain in h_domains %}
                              <option>{{ domain }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="select" class="col-lg-2 control-label">Topic</label>
                        <div id="{{ domain }}" class="topic col-lg-10">
                          <select multiple=""  class="form-control" style="height: 200px">
                          </select>
                        </div>
                        {% for domain, tops in h_topics.items %}
                          <div id="{{ domain }}" class="topic col-lg-10" hidden>
                            <select id="form-{{ domain }}" multiple=""  class="form-control" style="height: 200px">
                              {% for topic in tops %}
                                <option>{{ topic }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        {% endfor %}
                      </div>
                      <div id="form-last" class="form-group">
                        <label for="table" class="col-lg-2 control-label">Selected Topics</label>
                        <div class="col-lg-10" style="padding-bottom: 40px">
                          <fieldset id="hrl-file-zone">
                            <textarea class="form-control" rows="5" id="submit-text"></textarea>
                          </fieldset>
                          </br>
                          <button id="btn-hrl" type="button" class="btn btn-info download">Download</button>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
                <div class="tab-pane fade" id="pat">
                  <form class="form-horizontal">
                    <fieldset>
                      <div class="form-group">
                        <label for="select" class="col-lg-2 control-label">Pattern Domain</label>
                        <div class="col-lg-10">
                          <select id="pat-select" multiple="" class="domain form-control" style="height: 200px">
                            {% for domain in p_domains %}
                              <option>{{ domain }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="select" class="col-lg-2 control-label">Topic</label>
                        <div id="{{ domain }}" class="topic col-lg-10">
                          <select multiple=""  class="form-control" style="height: 200px">
                          </select>
                        </div>
                        {% for domain, tops in p_topics.items %}
                          <div id="{{ domain }}" class="topic col-lg-10" hidden>
                            <select id="form-{{ domain }}" multiple=""  class="form-control" style="height: 200px">
                              {% for topic in tops %}
                                <option>{{ topic }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        {% endfor %}
                      </div>
                      <div id="form-last" class="form-group">
                        <label for="table" class="col-lg-2 control-label">Selected Topics</label>
                        <div class="col-lg-10" style="padding-bottom: 40px">
                          <fieldset id="pat-file-zone">
                            <textarea class="form-control" rows="5" id="submit-text"></textarea>
                          </fieldset>
                          </br>
                          <button id="btn-pat" type="button" class="btn btn-info download">Download</button>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/custom.js"></script>

    <script src="/static/cookit/js/filedrop-min.js"></script>
    <script src="/static/cookit/js/xlsx.full.min.js"></script>
    <script src="/static/plugins/rollbar/js/jquery.easing.1.3.js"></script>
    <script src="/static/plugins/rollbar/js/jquery.mousewheel.js"></script>
    <script src="/static/plugins/rollbar/js/jquery.rollbar.min.js"></script>
    <script src="/static/cookit/js/rollbar.js"></script>
    <script src="/static/cookit/js/download.js"></script>
  </body>
</html>
