<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cookit | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/static/bootstrap/css/custom.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    <style>
      body {
        margin: 0
      }

      .jumbotron {
        padding: 200px 250px 0 250px;
        height: calc(100vh - 60px);
        margin: 0;
        background-color: #1a242f;
      }

      .jumbotron h1,
      .jumbotron h4,
      .jumbotron .h1 {
        color: mintcream;
      }

    </style>
  </head>
  <body>
    <div class="modal fade" id="login-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Login to start cooking</h4>
          </div>
          <div class="modal-body well" style="margin: 0">

              <form class="form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                      <input type="text" name="username" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                      <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <p id="p-failed" class="pull-left text-danger" hidden>Login failed</p>
                      <button type="button" id="login" class="btn btn-primary pull-right">Login</button>
                    </div>
                  </div>
                </fieldset>
              </form>

          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href={% url 'home' %} class="navbar-brand">{{ project_name }}</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">NLU ONLINE PROJ</a></li>
        </ul>

      </div>
    </div>
    <div class="jumbotron text-center">
      <h1>{{ project_name }}</h1>
      <h4>NLU online project</h4>
      <p style="padding-top: 50px"><a href="#" data-toggle="modal" data-target="#login-modal" class="btn btn-info btn-lg">Start Cooking</a></p>
    </div>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/custom.js"></script>
    <script type="text/javascript">
      $('#login').click(function(){
        $.post("{% url 'home' %}", $('form').serialize(), function(result){
          if(result == 1) window.location.href='{% url 'data' %}';
          else {
            $('#p-failed').show();
            $('.form-group').addClass('has-error');
          }

        });
      });

    </script>
  </body>
</html>
