<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>{{ project_name }} | Word Segment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/static/bootstrap/css/custom.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/plugins/rollbar/css/jquery.rollbar.css">
    <link rel="stylesheet" href="/static/plugins/icheck/skins/all.css">
    <style>

	    body,html {
        width: 100%;
        height: 100%;
      }

      .btn {
        width: 100px;
      }

    </style>

  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url 'home' %}" class="navbar-brand">{{ project_name }} </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">NLU ONLINE PROJ</a></li>
        </ul>
      </div>
    </div>
    <div id="main-content" class="bs-docs-section clearfix">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="bs-component">
              <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'download' %}">Download</a></li>
                <li><a href="{% url 'wordSegment' %}">Word Segment</a></li>
                <li class="active"><a href="{% url 'modelTest' %}">Model Test</a></li>
              </ul>
            </div>
            <hr>
{#            <div class="bs-component" style="padding-top: 60px">#}
{#              <div class="panel panel-info">#}
{#                <div class="panel-heading">#}
{#                  <h3 class="panel-title">How To</h3>#}
{#                </div>#}
{#                <div class="panel-body" style="padding:15px 10px 0 0">#}
{#                  <ul>#}
{#                    <li></li></br>#}
{#                  </ul>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
          </div>
          <div class="col-lg-8 main-panel">
            <div class="well bs-component">
              <form class="form-horizontal">
                <fieldset class="form-field">
                  <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Input</label>
                    <div class="col-lg-10">
                      <fieldset id="file-zone">
                        <textarea class="form-control" rows="5" id="submit-text"></textarea>
                      </fieldset>
                      </br>
                      <button id="submit" type="button" class="btn btn-info" style="margin-right: 20px">Submit</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="progress" hidden>
              <div class="progress-bar progress-bar-info"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/custom.js"></script>
    <script src="/static/plugins/rollbar/js/jquery.easing.1.3.js"></script>
    <script src="/static/plugins/rollbar/js/jquery.mousewheel.js"></script>
    <script src="/static/plugins/rollbar/js/jquery.rollbar.min.js"></script>
    <script src="/static/cookit/js/rollbar.js"></script>
    <script src="/static/cookit/js/filedrop-min.js"></script>

    <script type="text/javascript">
      $('#submit').click(function(){

        var $sumbit = $(this);
        $sumbit.addClass('disabled');
        $('textarea').attr('disabled', true);
        $.post('/mtest/', {words:$('#submit-text').val()}, function(result){

          if(result == 0) {
            $('#submit').removeClass('disabled');
            $('textarea').attr('disabled', false).val('');

            return;
          }

          var $res = $('.main-panel');
          $res.find('.panel-result').remove();
          $res.append(result.html);
          $('.progress').show();

        })
      });


      function judge(id, row) {
        $.post('/mtest/', {'previd': id, 'row': row}, function(result){

          var $res = $('.main-panel');
          $res.find('.panel-result').remove();
          $res.append(result.html);
          $('.progress-bar').animate({ width: result.proc.toString()+'%' }, 500);

          if (result.proc == 100) {
            setTimeout(function(){
              $('#submit').removeClass('disabled');
              $('textarea').attr('disabled', false).val('');
              $('.progress').hide();
              $('.progress-bar').css('width', 0);
              $('.panel-result').hide();

            }, 2500)
          }

        })
      }

      alert(0.2 + 0.3)


      function fileProcess(e, files) {
          var $submit_text = $(this).find('textarea');
          $.each(files, function (i, file) {

              file.readData(
                  function (str) {
                    $submit_text.val($submit_text.val()+str+'\n');
                  },
                  function (e) { alert('Terrible error!') },
                  'text'
              );

          })
      }

      fd.jQuery();

      $('#file-zone')
          .filedrop({'input':false})
          .on('fdsend', fileProcess);
    </script>
  </body>
</html>
